body {
    text-align: center;
    font-size: 17px;
    color: white;
    background: rgb(255, 128, 128);
    background-image: url("../images/bg-intro-desktop.png");
    width: 100%;
    top: 0;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.leftbox {
    left: 15%;
    text-align: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32.5%;
}

.rightbox {
	right: 15%;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32.5%;
}

.upbox {
    background: RebeccaPurple;
    color: hsl(0, 0%, 100%);
    border-radius: 8px;
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.3);
    width: 100%;
    padding-top: .5%;
    padding-bottom: .5%;
    font-size: 15px;
}

.downbox {
    background:hsl(0, 0%, 100%);
    border-radius: 8px;
    margin: 8px 0;
    width: 100%;
    padding-top: 5%;
}

input {
    border-radius: 10px;
    width: 90%;
    margin: 5px;
    margin-bottom: 15px;
    padding: 14px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    width: 90%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
}

.hypl {
    text-decoration: none;
    color: rgb(240, 82, 119);
}

h1 {
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
}

footer {
    position: fixed;
    font-size: 14px;
    bottom: 0;
	text-align: center;
	width: 100%;
}
