* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url('../images/bg-intro-mobile.png');
    background-color: hsl(0, 100%, 74%);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color:  #fff;
}


.attribution { 
    font-size: 11px;
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 50px 20px;
}

.section-1{
    text-align: center;
    margin: 15px;
}

.description {
    padding: 15px 0;
}